body {
    background: white;
    margin: 0em;
    font-family: sans-serif;
}

#header {
    border-bottom: 2px solid #26517c;
    padding-left: 0.5em;
    padding-right: 1em;
}

#header .logo {
    display: inline-block;
}

#header .title {
    font-size: 2em;
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 10px;
}

.container {
    margin: 0px;
    padding: 0px;
    display: table;
    min-height: 20em;
    width: 100%;
}

#navigation {
    display: table-cell;
    color: white;
    background-color: #6677aa;
    width: 20%;
    min-width: 12em;
    padding: 1em 1em;
    vertical-align: top;
}

#navigation .title {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

#navigation a {
    color: white;
    text-decoration: none;
}

#navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#navigation ul li {
    /* display: block;
    width: 12em; */
    padding: 0.2em 0em;
}

#navigation ul li.active {
    font-weight: bold;
    padding-left: 0.5em;
}

#content {
    display: table-cell;
    padding: 1em;
    width: 100%;
    vertical-align: top;
}

#footer {
    border-top: 2px solid #26517c;
    padding-top: 0.5em;
    clear: both;
}

#footer a {
    padding-right: 1em;
}

#footer .wrapper {
    padding-left: 1em;
    padding-right: 1em;
}

.wrapper .left {
    float: left;
}

.wrapper .right {
    float: right;
}

.highlight {
    /* margin: 0.5em; */
    padding: 0em 1em;
    font-family: monospace;
    background: #EEEEEE;
    display: block;
    border: 1px dashed gray;
}

p.info {
    /* TODO add icon */
    color: black;
    background: #dbe7ff;
    padding: 1em;
    border: 1px solid blue;
    border-radius: 0.5em;
}

p.note {
    /* TODO add icon */
    color: black;
    background: #fff4d2;
    padding: 1em;
    border: 1px solid yellow;
    border-radius: 0.5em;
}

p.warning {
    /* TODO add icon */
    color: black;
    background: #ffd5d1;
    padding: 1em;
    border: 1px solid orangered;
    border-radius: 0.5em;
}

