<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de" dir="ltr">

<head>
    <title>OPUS 4 Dokumentation</title>
    <meta http-equiv="Content-Language" content="de" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css" />
    <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico" />
</head>

<body>

{% include header.html %}

<div id="navigation">
    <ul>
    {% assign group = "navigation" %}
    {% include pagelist.html group="navigation" %}
        <li style="float: right; padding-right: 0;"><a href="{{site.baseurl}}/about/index.html">Styling</a></li>
    </ul>
</div>

<div id="content">

{{ content }}


</div>

{% include footer.html %}

</body>

</html>
