<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de" dir="ltr">

<head>
    <title>OPUS 4 Dokumentation</title>
    <meta http-equiv="Content-Language" content="de" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="shortcut icon" href="img/favicon.ico" />
</head>

<body>

{% include header.html %}

<div id="navigation">
{% include pagelist.html %}
</div>

<div id="content">

{{ content }}


</div>

{% include footer.html %}

</body>

</html>
